@import url(theme/foundation.css);

body {
	background-image: url('./theme/liferaylogo.png'), url('./theme/osgice14logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom, right bottom;
	background-size: auto 15%,  auto 15%;

	/*font-size: 1.4em;*/
}

p {
	/*line-height: initial;*/
}

ul, ol, dl {
	font-size: 1.4em;
}

.big, .large {
	font-size: 1.6em;
}

.x-large {
	font-size: 1.8em;
}

.xx-large {
	font-size: 2em;
}